In [6]:
import pandas as pd

# Load the data from the Excel file
ad_data = pd.read_excel("./ad-data.xlsx")

# Display top few rows of dataset
ad_data.head()

,p_date,ad_id,delivery_country,queue_market,punish_num,latest_punish_begin_date,ad_revenue,avg_ad_revenue,start_time,baseline_st,product_line,task_type_en
0,20230807,1747578422390810,US,USCA,1.0,2023-07-24,5132.1700,4795.250,2022-10-24 14:36:00,1.78,Auction Ads,auction_relation
1,20230807,1758543228094480,SA,MENA,1.0,2023-06-14,1976.2500,1063.767,2023-02-22 15:50:00,1.67,RIE,Ad Group Recall (Merged)
2,20230807,1738303151826990,AU,AU,2.0,2023-07-24,1.7355,5.365,2022-07-14 05:00:00,1.84,Auction Ads,auction_relation
3,20230807,1738303920938010,NZ,NZ,2.0,2023-07-24,NaN,5.365,2022-07-14 05:16:00,1.58,Auction Ads,auction_relation
4,20230807,1738304016410620,NZ,NZ,2.0,2023-07-24,1.5250,5.365,2022-07-14 05:17:00,1.58,Auction Ads,auction_relation

When first dealing with any dataset, it is important to do Exploratory Data Analysis (EDA). Below are the column definitions for easy reference:

`p_date`: The date of ads creation (where advertiser launches an ad campaign on Ads Manager)

`ad_id`: A unique identifier for a TikTok video advertisement (aka. ad group)

`delivery_country`: The country where the advertiser would like the ad delivered

`queue_market`: The country or region where the advertiser would like the ad delivered

`punish_num`: In the last 90 days, how many times has the advertiser of this newly created ad been punished (mostly in the form of temporary account suspension)

`latest_punish_begin_date`:  The latest punish begin date of the advertiser. If there is no punish record for this advertiser in the past 90 days, the date is 2000/1/1

`ad_revenue`: How much US dollars did the ad generate for TikTok as a platform (through view, clicks, etc.)

`avg_ad_revenue`: Average ad revenue that TikTok recoups from the advertiser over the last 30 days

`start_time`: When does the advertiser want to have the delivered from?

`baseline_st`: ST, represents task complexity

`product_line`: What kind of ads product is being used, for example livestream ads? E-commerce ads? (We don't need to incorporate this field into modeling)

`task_type_en`: What kind of ads product is being used, for example livestream ads? E-commerce ads? (more detailed) (We don't need to incorporate this field into modeling)